body,html{
   
    height: 100%;
    width: 100%;
    
}
.picture{
    background-image: url(palya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
    align-items: stretch;
    
  }

.flex-container > div {
    background-color: rgb(234, 202, 75);
    opacity: 90%;
    color: black;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 10%;
}

.plusz{
    display: flex;
    background-color: rgb(234, 202, 75);
    opacity: 90%;
    color: black;
    text-align: center;
    border-radius: 15%;
    width: 50%;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 22%;
}


.meret{
    width: 55%;
    margin: auto;
}

.gombhely1{
    margin-left: 29%;
    font-size: large;
}
.gombhely2{
    font-size: large;
    
}
